.shipment-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.shipment-form input,
.shipment-form select,
.shipment-form button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.add-button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.add-button:hover {
  background-color: #45a049;
}
.toggle-form-button {
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.toggle-form-button:hover {
  background-color: #0056b3;
}
